<div class="sidebar-module sidebar-categories">
    <h3>News Categories</h3>
    <ul>
        {% for category in categories %}
        <li class="cat-{{category.slug}}"><a href="{{category.link}}">{{category.name}}</a></li>
        {% endfor %}
    </ul>
</div>