#tribe-events {
    color: #2F2C38;
    font-family: 'Roboto', sans-serif;
}

.tribe-events-sub-nav a, .tribe-events-back a {
    font-weight: normal !important;
}

.event-is-recurring {
    font-weight: normal;
}