<div class="module image-gallery">

    <div id="carousel-{{loop.index}}" class="carousel slide" data-ride="carousel">

        {% for image in module.gallery %}
        
            {% set image = TimberImage(image) %}

            <div class="carousel-inner">
                <div class="carousel-item {{loop.index == 1 ? 'active'}}">
                    <img src="{{image.src|letterbox(900, 600, '#fff')}}" alt="{{image.alt}}" />
                </div>
            </div>

        {% endfor %}
      
    </div>

</div>