<div class="module text-landing">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>{{module.heading}}</h2>
                    <div class="text-copy">{{module.copy}}</div>
                    <div class="text-additional-copy">{{module.additional_copy}}</div>
            </div>
        </div>
    </div>
</div>