{% extends "base.twig" %}

{% block content %}

	<div class="container">
        <div class="row">
            <div class="col-lg-8 sidebar-content">
				<div class="module overview">
					<p>Sorry, we couldn't find what you're looking for.</p>
						<a class="btn btn-primary" href="{{site.link}}">Home</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}