<div class="row footer-secondary">
    <div class="col-10 offset-1 col-md-5 offset-md-0 footer-newsletter">
        <h4>Sign Up for Our Newsletter</h4>
        {% filter shortcodes %}
        [gravityform id={{newsletter}} title=false description=false]
        {% endfilter %}
    </div>
    <div class="col-10 offset-1 col-md-5 offset-md-2 footer-logo">
        {% if options.footer_logo %}
            {% set image = TimberImage(options.footer_logo) %}
            <a href="{{site.link}}"><img src="{{image.src}}" alt="{{image.alt}}"></a>
        {% endif %}
    </div>
</div>