{% extends "base.twig" %}

{% block content %}

	{% if post.get_field('modules') %}

		{% for module in post.get_field('modules') %}
		
			{% include 'partial/module.twig' ignore missing %}

		{% endfor %}

	{% else %}

		<div class="container">
        	<div class="row">
            	<div class="col-lg-8">
					{{post.content}}
				</div>
			</div>
		</div>

	{% endif %}

{% endblock %}