{% extends "base.twig" %}

{% block content %}
	<div class="module">
		<div class="container">
			<div class="row">
				<div class="col">
					<p><em>This area requires a password.</em></p>

					<form class="form-inline password-form" action="{{site.link}}/wp-login.php?action=postpass" method="post">
						<div class="form-group">
							<label class="mr-1" for="pwbox-{{post.ID}}">Password:</label>
							<input class="form-control mr-3 password-box" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password" size="20" maxlength="20" />
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
