{% extends "base.twig" %}

{% block content %}
	
<div class="container">
	<div class="row">
		<div class="col-md-7">
		
			<article class="module">
				
				<section class="article-content">
					<h1 class="article-h1">{{post.title}}</h1>
					
					<div class="article-body">
						{{post.content}}
					</div>
				</section>

			</article>
		
		</div>

	</div>
</div>
	
{% endblock %}