{% extends "base.twig" %}

{% block content %}
	
<div class="container">

	<div class="row">

		<div class="col-lg-7 sidebar-content">

			<div class="row">
				<div class="col">
					<h2 class="post-title">{{post.name}}</h2>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<article class="post">
						<div class="post-content">
							{{post.content}}
						</div>
					</article>
					<a class="special special-left" href="/liturgy/homilies">Back to Homilies</a>
				</div>
			</div>

		</div> <!-- /.col-lg-7 -->

		<div class="col-md-6 col-lg-3 offset-lg-1 sidebar-sidebar">
		</div> <!-- /.col-lg-3 -->

	</div> <!-- /.row -->

</div>
	
{% endblock %}