@import "bootstrap";

@import "gravityforms";

/*
* === SITE ELEMENTS ===
*/

/*
* — Top Navigation —
*/

#google_translate_element {
    display: none;
}

#mobile-menu {
    display: none;
}

.mobile-menu-button-container {
    height: 100%;
    padding-right: 15px;
}

#mobile-menu-button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

.header-logo {
    margin: 20px 0 20px 15px;
}

.navbars {
    position: relative;
}

.navbars ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbars li {
    display: inline-block;
    padding: 15px;
}

.navbars li:last-child {
    padding-right: 30px;
}

.navbar-secondary {
    position: absolute;
    top: 0;
    right: 0;

    color: #fff;
    font-size: 0.875rem;
    line-height: 1.1;
    text-align: right;
}

.navbar-secondary li.search {
    padding: 0;
    margin-right: 15px;
    background: #fff !important;
}

.navbar-secondary li.search input {
    font-size: 0.875rem !important;
    line-height: 1.1 !important;
}

.navbar-secondary-link:nth-child(2) {
    padding-left: 30px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}

.navbar-primary {
    position: absolute;
    bottom: 0;
    right: 0;

    font-weight: bold;
    line-height: 1.2;
    text-align: right;
}

.navbar-secondary a:link, .navbar-secondary a:visited { color: #fff; }
.navbar-secondary a:active, .navbar-secondary a:hover { opacity: 1; }

.navbar-primary a:link, .navbar-primary a:visited { color: $dark; }
.navbar-primary a:active, .navbar-primary a:hover { opacity: 1 !important; }

/*
* — Sub Menu (Siblings) —
*/
.sub-menu {
    background-color: $asc_lightest_gray;
    color: $dark;
    line-height: 1.2;
    padding: 15px 0;
}
.sub-menu ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .sub-menu li {
        display: inline;
        margin-right: 20px;
    }

    .sub-menu li:last-child {
        margin-right: 0;
    }
}

.sub-menu li a {
    color: inherit;
}
.sub-menu li a:hover {
    opacity: 0.5;
}
/*
* — Primary Footer —
*/

.footer-primary {
    margin-bottom: 30px;
}

.footer-primary-content {
    border-top: 1px solid $asc_light_gray;
    padding-top: 30px;
    margin-bottom: 30px;
}
.footer a:link, .footer a:visited {
    color: inherit;
}
.footer a:active, .footer a:hover {
    opacity: 0.5;
}
.footer ul {
    font-size: 0.87rem;
    line-height: 1.1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
.footer li {
    margin-bottom: 20px;
}
.footer li:last-child {
    margin-bottom: 0;
}
.footer .menu-item {
    font-weight: bold;
}
.footer-contact-social {
    font-style: italic;
}
.footer-contact-social a:before {
    color: $primary;
    display: inline-block;
    font-family: 'Font Awesome 5 Brands';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    margin-right: 10px;
    vertical-align: middle;
}
.footer-contact-social a[href*="facebook"]:before { content: '\f09a'; }
.footer-contact-social a[href*="instagram"]:before { content: '\f16d'; }
.footer-contact-social a[href*="linkedin"]:before { content: '\f08c'; }
.footer-contact-social a[href*="pinterest"]:before { content: '\f0d3'; }
.footer-contact-social a[href*="tumblr"]:before { content: '\f174'; }
.footer-contact-social a[href*="twitter"]:before { content: '\f081'; }
.footer-contact-social a[href*="youtube"]:before { content: '\f431'; }

@media (min-width: 768px) {
    .footer-primary {
        margin-bottom: 45px;
    }

    .footer-primary-content {
        margin-bottom: 0;
    }

    .footer-newsletter {
        border-top: 0 solid $asc_light_gray;
        padding-top: 0;
        margin-bottom: 0;
    }

    .footer-secondary-menu {
        border-bottom: none;
        padding-bottom: 0;
    }
    .footer-newsletter, .footer-logo {
        margin-top: 95px;
    }
}

@media (min-width: 992px) {
    .footer-newsletter {
        border-top: 1px solid $asc_light_gray;
        margin-top: 0;
        padding-top: 30px;
    }
    .footer-newsletter input[type='submit'] {
        margin-top: 15px;
    }
    .footer-logo {
        margin-top: 15px;
    }
}

.footer-newsletter h4 {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 10px;
}

.footer-logo {
    text-align: center;
}
.footer-logo img {
    max-width: 100%;
}
@media (min-width: 768px) {
    .footer-logo {
        text-align: right;
    }
}

/*
* — Tertiary Footer —
*/
.footer-tertiary {
    background-color: $primary;
    border-top: 12px solid $tertiary;
    color: $white;
    font-size: 0.75rem;
    line-height: 1.2;
    margin-top: 6px;
    padding: 15px 0;
    position: relative;
}
.footer-tertiary:before {
    background-color: $secondary;
    content: '';
    height: 6px;
    position: absolute;
    top: -18px;
    width: 100%;
}
@media (min-width: 768px) {
    .footer-attribution {
        text-align: right;
    }
}

/*
* === PAGE ELEMENTS ===
*/

/*
* — Main —
*/

.title-band {
    background-color: $primary;
    clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 0);
    color: $white;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.title {
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.2;
}
.main {
    margin-bottom: 40px;
}
.main ol a, .main p a, .main ul a {
    font-weight: bold;
}
.sidebar-content p + ol, .sidebar-content p + ul {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
    .title-band {
        margin-bottom: 40px;
        padding-top: 80px;
        padding-bottom: 40px;
    } 
    .title {
        font-size: 2.25rem;
    }
    .main {
        margin-bottom: 110px;
    }
}

/*
* — Sidebars —
*/

.sidebar-sidebar {
    margin-top: 40px;
}
@media (min-width: 768px) {
    .sidebar-sidebar {
        margin-top: 70px;
    }
}
@media (min-width: 992px) {
    .sidebar-sidebar {
        margin-top: 0;
    }
}

.sidebar-module h3, .sidebar-module h4 {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
}
.sidebar-module h3 {
    border-bottom: 1px solid $secondary;
    font-size: 1.3125rem;
    padding-bottom: 5px;
}
.sidebar-module h4 { font-size: 1.125rem; }
.sidebar-module h3 a, .sidebar-module h4 a { color: inherit; }
.sidebar-module ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.sidebar-module li {
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 20px;
}
.sidebar-module li:last-child { margin-bottom: 0; }
.sidebar-module li a:link, .sidebar-module li a:visited { color: inherit; }
.sidebar-module li a:active, .sidebar-module li a:hover { opacity: 0.5; }
.sidebar-module li a:before {
    color: $secondary;
    content: '\f0da';
    font-family: 'Font Awesome 5 Free';
    font-size: 1rem;
    font-weight: 900;
    margin-right: 5px;
    vertical-align: middle;
}
.sidebar-copy { margin-bottom: 0 !important; }
.sidebar-link {
    display: block;
    margin-top: 10px;
}
.sidebar-thumb {
    margin-bottom: 15px;
    max-width: 100%;
}
@media (min-width: 768px) {
    .sidebar-cta .sidebar-thumb {
        margin-bottom: 0;
    }
}
@media (min-width: 992px) {
    .sidebar-cta .sidebar-thumb {
        margin-bottom: 15px;
    }
}

/*
* === CLASSES ===
*/

.pagination {
    margin-top: 30px;
}

.buttons {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.buttons li {
    display: inline;
}

.buttons li:nth-child(2) {
    margin-left: 10px;
}

@media (min-width: 768px) {
    .buttons li:nth-child(2) {
        margin-left: 30px;
    }
}

.categories {
    border-bottom: 1px solid $secondary;
    color: $primary;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.4;
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0 0 3px 0;
}
.categories li {
    display: inline;
}
.categories a:link, .categories a:visited {
    color: inherit;
}

.categories a:active, .categories a:hover {
    opacity: 0.5;
}

.navbar-primary .current-menu-item, .navbar-primary .current-page-ancestor {
    position: relative;
}

.navbar-primary .current-menu-item:after, .navbar-primary .current-page-ancestor:after {
    position: absolute;
    right: 0;
    left: 0;
    margin: 5px auto auto auto;
    content: '';
    display: block;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $asc_lightest_gray;
}

.current-sub-menu-item {
    border-bottom: 2px solid $primary;
}

.highlight {
    background-color: $primary;
    color: $white;
}

.special:link, .special:visited, .special:active, .special:hover {
    color: $primary;
    font-weight: bold;
}
.special-left:before, .special-right:after {
    color: $secondary;
    font-family: "Font Awesome 5 Free";
    font-size: 1rem;
    font-weight: 900;
    line-height: 1;
    vertical-align: middle;
}
.special-left:before {
    content: '\f0d9';
    margin-right: 5px;
}
.special-right:after {
    content: '\f0da';
    margin-left: 5px;
}

img[class^='wp-image'] {
    margin-bottom: 1.5rem;
    max-width: 100%;
}

/*
* === PAGES ===
*/

/*
* — Board & Staff —
*/

.description {
    margin-bottom: 30px;
}
.board, .staff {
    margin-bottom: 30px;
}
.board:last-child, .staff:last-child {
    margin-bottom: 0;
}
.board img, .staff img {
    margin-bottom: 10px;
    max-width: 100%;
}
.board h3, .staff h3 {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5px;
}
.position {
    color: $asc_gray;
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 0;
}
.staff .contact {
    line-height: 1.7;
    list-style: none;
    margin-bottom: 10px;
    padding-left: 0;
}
.staff .contact li {
    display: inline;
}
.staff .contact li:last-child:before {
    color: $secondary;
    content: '|';
}
.staff .contact a:link, .contact a:visited, .contact a:active, .contact a:hover {
    color: $primary;
    font-weight: bold;
}
.staff .bio {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .description {
        margin-bottom: 40px;
    }

    .board, .staff {
        margin-bottom: 40px;
    }

    .staff img {
        margin-bottom: 0;
    }

    .board h3, .staff h3 {
        font-size: 1.3125rem;
    }
}

/*
* — General News —
*/

.post {
    margin-bottom: 30px;
}
.post:last-child {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .post {
        margin-bottom: 40px;
    }
}

/*
* — News Landing Page —
*/

.post-thumbnail {
    margin-bottom: 10px;
    max-width: 100%;
}
h3.post-title {
    font-size: 1.3125rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10px;
}
h3.post-title a {
    color: inherit;
}
h3.post-title a:hover {
    opacity: 0.5;
}
.post-preview {
    margin-bottom: 10px;
}

/*
* — News Single —
*/

.post-breadcrumbs {
    color: $asc_gray;
    font-size: 0.875;
    line-height: 1.1;
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
}
.post-breadcrumbs li {
    display: inline;
}
.post-breadcrumbs li:after {
    content: ' / ';
}
.post-breadcrumbs li:last-child:after {
    content: '';
}
.post-breadcrumbs a:link, .post-breadcrumbs a:visited, .post-breadcrumbs a:active, .post-breadcrumbs a:hover {
    color: inherit;
}
h2.post-title {
    border-bottom: 1px solid $secondary;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px;
    padding-bottom: 4px;
}
.post-date {
    font-size: 0.875rem;
    font-style: italic;
    line-height: 1.1;
    margin-bottom: 10px;
}
.post-content p:last-of-type {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    h2.post-title {
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 20px;
    }
}

/*
* === MODULES ===
*/

/*
* — Spacing —
*/

.module:last-child, .sidebar-module:last-child { margin-bottom: 0;}
.module { margin-bottom: 40px; }
.sidebar-module { margin-bottom: 60px; }
@media (min-width: 768px) {
    .module { margin-bottom: 70px; }
    .sidebar-module:nth-last-child(2) { margin-bottom: 0; }
}
@media (min-width: 992px) {
    .module { margin-bottom: 80px; }
    .sidebar-module:nth-last-child(2) { margin-bottom: 60px; }
}

.sidebar-content .module { margin-bottom: 1.5rem; }
.sidebar-content .module p:last-child { margin-bottom: 0; }
.sidebar-content .module:last-child { margin-bottom: 0; }

/*
* — Headings —
*/

.module h2 {
    border-left-style: solid;
    border-left-width: 6px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 25px;
    padding-left: 15px;
}
.page-template-custom-sidebar .module h2 {
    border-bottom: 1px solid $secondary;
    border-left: none !important;
    padding-bottom: 5px;
    padding-left: 0 !important;
}
.page-template-custom-sidebar .module h3 {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .module h2 {
        font-size: 1.6875rem;
        margin-bottom: 30px;
    }

    .page-template-custom-sidebar .module h3 {
        font-size: 1.3125rem;
        line-height: 1;
    }
}

/*
* — MODULE - Alert —
*/

.alert {
    background-color: $secondary;
    color: $dark;
    font-weight: bold;
    margin-bottom: 0;
}

.alert p {
    margin-bottom: 0;
}

.alert span {
    text-transform: uppercase;
}

/*
* — MODULE - CTA - Home —
*/

.cta-home .cta-content {
    background: $secondary;
    margin-top: 30px;
    padding: 50px 30px 30px 40px;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

.cta-home h2 {
    border-left-width: 0;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 10px;
    padding-left: 0;
}

.cta-home .cta-copy {
    font-size: 1.125rem;
    line-height: 1.4;
    font-style: italic;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .cta-home .cta-content {
        padding: 60px 120px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    }
    .cta-home h2 {
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 20px;
    }
    .cta-home .cta-copy {
        font-size: 1.3rem;
        line-height: 1.6;
    }
}

@media (min-width: 992px) {
    .cta-home .cta-content {
        margin-top: -240px;
    }
}

/*
* — MODULE - CTA - Landing —
*/

.cta-landing .cta-content {
    background: $primary;
    color: $white;
    margin-top: -30px;
    padding: 50px 30px 30px 40px;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

.cta-landing h2 {
    border-left-width: 0;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 10px;
    padding-left: 0;
}

.cta-landing .cta-copy {
    margin-bottom: 0;
}

.cta-landing .cta-link {
    color: $primary;
    margin-top: 15px;
}

@media (min-width: 768px) {
    .cta-landing .cta-content {
        padding: 60px 120px;
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    }
    .cta-landing h2 {
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .cta-landing .cta-content {
        margin-top: -240px;
    }
}

/*
* — MODULE - CTA - Pair —
*/

.cta-pair {
    background-color: $asc_lightest_gray;
    padding: 40px 0;
}
.page-template-custom-sidebar .cta-pair {
    margin-top: 80px;
}
.cta-pair h2 {
    border-left-color: $tertiary;
}
.cta-pair .cta:first-child {
    margin-bottom: 30px;
}
.cta-pair img {
    border-bottom: 6px solid $primary;
}
.cta-pair .cta-content {
    margin-top: -30px;
}
.cta-pair .cta-content div {
    background-color: $white;
    padding: 30px !important;
}
.cta-pair h3 {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 15px;
}
.cta-pair p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .cta-pair .cta {
        margin-bottom: 0 !important;
    }
    
    .cta-pair .cta-content {
        margin-top: -60px;
    }

    .cta-pair h3 {
        font-size: 2rem;
    }

    .cta-pair p {
        font-size: 1.125rem;
    }
}

/*
* — MODULE - CTA - Group —
*/

.cta-group {
    background-color: $asc_lightest_gray;
    padding: 40px 0;
}
.cta-group h2 {
    border-left-color: $tertiary;
}
.cta-group .cta {
    margin-bottom: 30px;
}
.cta-group .cta:last-child {
    margin-bottom: 0;
}
.cta-group .cta-content {
    margin-top: -15px;
    text-align: center;
}
.cta-group .cta-content div {
    background-color: $white;
    padding: 15px !important;
}
.cta-group h3 {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    .cta-group .cta {
        margin-bottom: 70px;
    }
    .cta-group .cta:nth-last-child(2) {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .cta-group .cta:nth-last-child(-n+4) {
        margin-bottom: 0 !important;
    }
}

/*
* — MODULE - Hero —
*/

.hero-landing {
    margin-bottom: 30px;
}
.hero img, .hero-landing img {
    clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 0);
    max-width: 100%;
}
.hero img {
    margin-bottom: 20px;
}
.hero h1 {
    color: $primary;
    font-size: 1.7rem;
    line-height: 1.2;
    margin-bottom: 10px;
}
@media (min-width: 768px) {
    .hero img {
        margin-bottom: 50px;
    }

    .hero h1 {
        font-size: 3rem;
        line-height: 1;
    }
}

/*
* — MODULE - Image —
*/

.image .figure {
    margin-bottom: 0;
}
.image .figure-image {
    height: auto;
    max-width: 100%;
}
.image .figure-caption {
    color: $asc_gray;
    font-size: 1rem;
    line-height: 1.2;
    margin-top: 15px;
    text-align: right;
}

/*
* — MODULE - Image Band —
*/

.image-band {
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
}
.image-band img {
    max-width: 100%;
}
.image-band-image-2 {
    display: none;
}

@media (min-width: 768px) {
    .image-band-image-1 {
        border-right: 3px solid $white;
    }
    
    .image-band-image-2 {
        border-left: 3px solid $white;
        display: block;
    }
}

/*
* — MODULE - Image Gallery —
*/

.image-gallery img {
    max-width: 100%;
}

.image-gallery .carousel-caption {
    background: $dark;
    color: $white;
}

.image-gallery .carousel-caption p {
    margin-bottom: 0;
}

.image-gallery .indicators {
    margin-top: 15px;
}

.image-gallery .indicators div {
    cursor: pointer;
}

/*
* — MODULE - Post Feed —
*/

.post-feed .post-feed-post-title {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10px;
}

.post-feed .post-feed-post-title a {
    color: inherit;
}

@media (min-width: 768px) {
    .post-feed .post-feed-post-title {
        font-size: 1.125rem;
    }
}

@media (min-width: 992px) {
    .post-feed .post-feed-post-title {
        font-size: 1.3125rem;
        line-height: 1.1;
    }
}

/*
* — Post Feed - Posts —
*/

.post-feed-posts h2 {
    border-left-color: $secondary;
}
.post-feed-posts .post-feed-item {
    margin-bottom: 30px;
}
.post-feed-posts .post-feed-item:last-child {
    margin-bottom: 0;
}
.post-feed-posts .post-feed-post-thumbnail {
    margin-bottom: 20px;
    max-width: 100%;
}
.post-feed-posts .post-feed-post-preview {
    margin-bottom: 15px !important;
}
@media (min-width: 768px) {
    .post-feed-posts .post-feed-post-thumbnail {
        margin-bottom: 0;
    }
}
@media (min-width: 992px) {
    .post-feed-posts .post-feed-post-thumbnail {
        margin-bottom: 20px;
    }
}

/*
* — Post Feed - Events —
*/

.post-feed-events {
    background-color: $secondary;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    padding-top: 120px;
    padding-bottom: 40px;
}
.post-feed-events h2 {
    border-left-color: $white;
}
.post-feed-events .post-feed-item {
    margin-bottom: 20px;
}
.post-feed-events .post-feed-item:last-child {
    margin-bottom: 0;
}
.post-feed-events .card {
    border: none;
}
.post-feed-events .post-feed-post-meta {
    color: $asc_gray;
    display: block;
    margin-bottom: 10px;
}
.post-feed-events .post-feed-post-preview {
    margin-bottom: 0 !important;
}
@media (min-width: 768px) {
    .post-feed-events .post-feed-item {
        margin-bottom: 30px;
    }
}
@media (min-width: 992px) {
    .post-feed-events .post-feed-item {
        margin-bottom: 0;
    }
}

/*
* — MODULE - Overview —
*/

.overview h1 {
    font-size: 1.7rem;
    line-height: 1.1;
    margin-bottom: 10px;
}

.overview-primary {
    margin-bottom: 30px;
}

.overview-primary .buttons {
    margin-top: 15px;
}

.overview-primary p:last-child {
    margin-bottom: 0;
}

.overview-secondary h3 {
    border-bottom: 1px solid $secondary;
    font-size: 1.125rem;
    line-height: 1.2;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.blurb { margin-bottom: 30px; }
.blurb:last-child { margin-bottom: 0; }
.blurb p { margin-bottom: 0; }

@media (min-width: 768px) {
    .overview h1 { font-size: 2.25rem; }
    .blurb { margin-bottom: 0; }
}

@media (min-width: 992px) {
    .overview-primary { margin-bottom: 0; }
    .blurb { margin-bottom: 30px; }
}

/*
* — MODULE - Overview - About —
*/

.overview-secondary h2 {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 15px;
}

.overview-secondary h2.h2-1 {
    border-left-color: $secondary;
}

.overview-secondary h2.h2-2 {
    border-left-color: $tertiary;
}

/*
* — MODULE - Schools —
*/

.schools h2 {
    border-left-color: $secondary;
}
.schools .card {
    border: none;
    margin-bottom: 30px !important;
}
.schools .card:last-child {
    margin-bottom: 0 !important;
}
.schools .card-body {
    padding: 0 15px;
}
.schools img {
    margin-bottom: 20px;
}
.schools h3 {
    border-bottom: 2px solid $secondary;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.schools p {
    margin-bottom: 10px;
}
@media (min-width: 768px) {
    .schools .card {
        margin-bottom: 0 !important;
    }
    
    .schools .card-body {
        padding: 0 20px;
    }
    
    .schools img {
        border-right: 4px solid $white;
    }

    .schools .card:last-child img {
        border-right: none;
    }
}

/*
* — MODULE - Text —
*/

.text h2, .text-landing h2 {
    border-left-color: $secondary;
}

.text h3, .text-landing h3 {
    font-size: 1.3125rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5px;
}

.text h4, .text-landing h4 {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5px;
}

@media (min-width: 992px) {
    .text-copy {
        width: 50%;
    }
    .text-additional-copy {
        columns: 2;
    }
    .text-additional-copy li {
        break-inside: avoid-column;
    }
}

/*
* === SIDEBAR MODULES ===
*/

/*
* — SIDEBAR MODULE - Categories —
*/

.sidebar-categories h3 { margin-bottom: 15px; }

/*
* — Sidebar CTA —
*/

.sidebar-cta h3 { margin-bottom: 10px; }

/*
* — Sidebar Post —
*/

.sidebar-post h3, .sidebar-post h4 { margin-bottom: 10px; }

/*
* — Sidebar Post Feed - Blog Posts —
*/

.sidebar-post-feed-posts h3, .sidebar-post-feed-posts h4 { margin-bottom: 10px; }
.sidebar-post-feed-post { margin-bottom: 30px; }
.sidebar-post-feed-post:last-child { margin-bottom: 0; }

/*
* — Sidebar Post Feed - Events —
*/

.sidebar-post-feed-events h3 { margin-bottom: 15px; }
.sidebar-post-feed-event {
    border-bottom: 1px solid $asc_gray;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.sidebar-post-feed-event:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.sidebar-post-feed-event-date {
    color: $asc_gray;
    display: block;
    line-height: 1.2;
    margin-bottom: 8px;
}